html, body {
    height:100%;
 }
 
 .deployment-summary{
    opacity: 0;
 }
 
 .status-section{
    position: absolute;
    bottom: 20px;
    width: 80%;
    opacity: 0;
    left: 50%;
    transform: translateX(-50%)
 }
 
 .progress-percentage, .progress-bar{
    transition: width .5s ease;
 }